AI Voice Survey - Master Workflow (1).json
{
  "name": "AI Voice Survey - Master Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-master",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5488,
        -496
      ],
      "id": "659f415f-91f8-4235-ad9e-f120638a21cf",
      "name": "Webhook: Vapi Master",
      "webhookId": "633d16ea-082f-439b-93aa-e0d712ecb6a2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message.type }}",
                    "rightValue": "tool-calls",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3794879e-0bf9-43fc-b99d-f38af30cd535"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tool Calls"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f2ca3021-dc59-4913-83b8-636dbb07acc3",
                    "leftValue": "={{ $json.body.message.type }}",
                    "rightValue": "status-update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Status Updates"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d62eb035-8422-4dc5-a514-25f054dd07c6",
                    "leftValue": "={{ $json.body.message.type }}",
                    "rightValue": "end-of-call-report",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "End of Call Report"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -5296,
        -480
      ],
      "id": "13956889-d6ab-4542-8f7c-0f862b48f1f4",
      "name": "Switch: Event Type"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.message.toolCalls[0].function.name }}",
                    "rightValue": "next_question",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "692771b7-1b0d-452e-9092-968a82104e8c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Next Question"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "29db7965-2f66-49cd-ab93-5368ae1c3ab5",
                    "leftValue": "={{ $json.body.message.toolCalls[0].function.name }}",
                    "rightValue": "complete_session",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Complete Session"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -5136,
        -672
      ],
      "id": "fffb8a52-5d05-4426-859a-63d732103b5c",
      "name": "Switch: Tool Call Name"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    id AS session_id, \n    employee_id, \n    status, \n    role,\n    (created_at > NOW() - INTERVAL '72 hours') AS is_fresh,\n    (status = 'VERIFIED' OR status = 'IN_PROGRESS') AS is_authorized\nFROM sessions \nWHERE id = $1;",
        "options": {
          "queryReplacement": "=={{ $(\"Code: Parse Tool Args\").first().json.session_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4704,
        -624
      ],
      "id": "10e3c88a-e653-4b91-a5ea-37508c9d7203",
      "name": "Postgres: Fetch Session",
      "credentials": {
        "postgres": {
          "id": "RLWnNYbHUdODA2hb",
          "name": "n8n to cantabo pvs"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7af3bbc1-87f2-48ff-b819-dafd6a6d7e32",
              "leftValue": "={{ $node[\"Postgres: Fetch Session\"].json.is_fresh }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "2224cc00-07d2-41d9-b290-055b8b22dc27",
              "leftValue": "={{ $node[\"Postgres: Fetch Session\"].json.is_authorized }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4512,
        -672
      ],
      "id": "bffc9865-fd2f-4f45-ad5a-8c0d32d20425",
      "name": "If: Valid Session?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $node[\"Webhook: Vapi Master\"].json.body.message.toolCalls[0].id }}\",\n      \"result\": \"Your session has expired or is unauthorized. Please re-authenticate.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -4336,
        -320
      ],
      "id": "a29ca4ce-cf39-45b8-b354-8451cc53c588",
      "name": "Respond: Session Invalid"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $node[\"Postgres: Fetch Session\"].json.role }}",
                    "rightValue": "TEACHER",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bf752db7-72dc-41fb-aeb3-2aebee48240a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEACHER"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "76569b83-df59-4d54-90b3-85701ee3e7aa",
                    "leftValue": "={{ $node[\"Postgres: Fetch Session\"].json.role }}",
                    "rightValue": "ADMIN",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ADMIN"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0b424c72-8611-465c-83ff-788fde38a35e",
                    "leftValue": "={{ $node[\"Postgres: Fetch Session\"].json.role }}",
                    "rightValue": "SUPPORT",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SUPPORT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -4320,
        -640
      ],
      "id": "a3f4363e-1ab5-44f0-b244-39daee1cbe55",
      "name": "Switch — User Role Router"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KXMyUry5junQhezuQzBv3zPPXFnLWeapoXz3SdpRbks",
          "mode": "list",
          "cachedResultName": "AI Voice Survey - Master Question Bank",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KXMyUry5junQhezuQzBv3zPPXFnLWeapoXz3SdpRbks/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $(\"Postgres: Fetch Session\").first().json.role }}",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4048,
        -624
      ],
      "id": "61f8c4fd-8100-4421-b425-f25b51c4c789",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7eGOO6vO6zNekj2L",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*)::int AS answer_count \nFROM responses \nWHERE session_id = $1;",
        "options": {
          "queryReplacement": "=={{ $(\"Postgres: Fetch Session\").first().json.session_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3488,
        -624
      ],
      "id": "bed7c856-a84d-4963-8546-615be3ea3c63",
      "name": "Postgres: Count Responses",
      "credentials": {
        "postgres": {
          "id": "RLWnNYbHUdODA2hb",
          "name": "n8n to cantabo pvs"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Get total answers and question bank\nconst answersCount = $(\"Postgres: Count Responses\").first().json.answer_count;\nconst questions = $(\"Get row(s) in sheet\").all().map(item => item.json);\n\n// 2. CLINICAL RECTIFICATION: Handle stringified arguments and correct path\nconst rawArgs = $(\"Webhook: Vapi Master\").first().json.body.message.toolCalls[0].function.arguments;\nconst args = typeof rawArgs === 'string' ? JSON.parse(rawArgs) : rawArgs;\nconst sessionId = args.session_id;\n\n// 3. Logic: If Survey is Finished\nif (answersCount >= questions.length) {\n  return [{\n    json: {\n      finished: true,\n      session_id: sessionId,\n      message: \"നിങ്ങളുടെ സർവേ വിജയകരമായി പൂർത്തിയായിരിക്കുന്നു. നന്ദി.\"\n    }\n  }];\n}\n\n// 4. Logic: Pick Next Question\nconst nextQuestion = questions[answersCount];\n\nreturn [{\n  json: {\n    finished: false,\n    session_id: sessionId,\n    question_id: nextQuestion.question_id,\n    question_text: nextQuestion.question_ml,\n    options: [\n      nextQuestion.opt1,\n      nextQuestion.opt2,\n      nextQuestion.opt3,\n      nextQuestion.opt4\n    ]\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3312,
        -624
      ],
      "id": "eac30764-3c2b-4b08-827c-d95d7ab60e46",
      "name": "Code: Pick Next Question"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $node[\"Webhook: Vapi Master\"].json.body.message.toolCalls[0].id }}\",\n      \"result\": {{ JSON.stringify($node[\"Code: Pick Next Question\"].json) }}\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -2832,
        -560
      ],
      "id": "a3f0da92-2295-4e46-8c7b-a5f4728a3234",
      "name": "Respond: Tool Call Result"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO responses (session_id, question_id, selected_option, category, score, confirmed)\nSELECT $1::uuid, $2, $3::int, $4, $5::int, TRUE\nWHERE $2 != 'INIT'\nON CONFLICT (session_id, question_id)\nDO UPDATE SET \n    selected_option = EXCLUDED.selected_option, \n    category = EXCLUDED.category,\n    score = EXCLUDED.score,\n    confirmed = TRUE,\n    answered_at = NOW();",
        "options": {
          "queryReplacement": "=={{ $(\"Postgres: Fetch Session\").first().json.session_id }}, {{ $(\"Code: Parse Tool Args\").first().json.question_id }}, {{ $(\"Code: Parse Tool Args\").first().json.answer }}, {{ $(\"Get row(s) in sheet\").all().find(q => q.json.question_id === $(\"Code: Parse Tool Args\").first().json.question_id)?.json.category || 'Unknown' }}, {{ ($(\"Code: Parse Tool Args\").first().json.answer || 0) - 1 }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3712,
        -496
      ],
      "id": "216c7265-bfd9-4518-ad30-50994b6a36fb",
      "name": "Postgres: Save Response",
      "credentials": {
        "postgres": {
          "id": "RLWnNYbHUdODA2hb",
          "name": "n8n to cantabo pvs"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e0c4185e-aa2e-4f20-a154-3b73bec9e7a9",
              "leftValue": "={{ $node[\"Code: Pick Next Question\"].json.finished }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3136,
        -656
      ],
      "id": "c5018e88-5622-48b7-a81a-aef9f63ce50c",
      "name": "If: Survey Finished?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO results (session_id, mindset_score, toolset_score, skillset_score, total_score, summary, recommendation)\nSELECT \n    session_id,\n    SUM(CASE WHEN category = 'Mindset' THEN score ELSE 0 END) as m_score,\n    SUM(CASE WHEN category = 'Toolset' THEN score ELSE 0 END) as t_score,\n    SUM(CASE WHEN category = 'Skillset' THEN score ELSE 0 END) as s_score,\n    SUM(score) as tot,\n    -- Deterministic Summary (Line 81)\n    CASE \n        WHEN SUM(score) >= 24 THEN 'മികച്ച പ്രകടനം. ഡിജിറ്റൽ ബോധവൽക്കരണത്തിൽ താങ്കൾ മുന്നിലാണ്.'\n        WHEN SUM(score) >= 12 THEN 'നല്ല നിലവാരം. ചില മേഖലകളിൽ കൂടുതൽ ശ്രദ്ധ ആവശ്യമാണ്.'\n        ELSE 'പ്രാഥമിക ഘട്ടം. പരിശീലന പരിപാടികളിൽ പങ്കെടുക്കുന്നത് നന്നായിരിക്കും.'\n    END as summary_txt,\n    -- Deterministic Recommendation\n    CASE \n        WHEN SUM(score) >= 24 THEN 'തുടർന്നും ഈ മികവ് നിലനിർത്തുക.'\n        ELSE 'ഡിജിറ്റൽ സ്കിൽ വർദ്ധിപ്പിക്കാനുള്ള വർക്ക്ഷോപ്പുകളിൽ പങ്കെടുക്കുക.'\n    END as rec_txt\nFROM responses\nWHERE session_id = $1\nGROUP BY session_id\nON CONFLICT (session_id) DO UPDATE SET\n    mindset_score = EXCLUDED.mindset_score,\n    toolset_score = EXCLUDED.toolset_score,\n    skillset_score = EXCLUDED.skillset_score,\n    total_score = EXCLUDED.total_score,\n    summary = EXCLUDED.summary,\n    recommendation = EXCLUDED.recommendation,\n    computed_at = NOW()\nRETURNING *;",
        "options": {
          "queryReplacement": "=={{ $(\"Code: Parse Tool Args\").first().json.session_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4016,
        -944
      ],
      "id": "e5eab0e3-9f32-4f79-bf7c-275a01b3f606",
      "name": "Postgres: Compute Final Scores",
      "credentials": {
        "postgres": {
          "id": "RLWnNYbHUdODA2hb",
          "name": "n8n to cantabo pvs"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE sessions SET status = 'COMPLETED', updated_at = NOW() WHERE id = $1 AND status != 'COMPLETED';",
        "options": {
          "queryReplacement": "=={{ $(\"Code: Parse Tool Args\").first().json.session_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3488,
        -992
      ],
      "id": "b50c5655-8b8a-45d0-a1f1-6ff3a4ea1634",
      "name": "Postgres: Burn Session Token",
      "credentials": {
        "postgres": {
          "id": "RLWnNYbHUdODA2hb",
          "name": "n8n to cantabo pvs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $node[\"Webhook: Vapi Master\"].json.body.message.toolCalls[0].id }}\",\n      \"result\": {{ $(\"Code: Pick Next Question\").isExecuted ? JSON.stringify($(\"Code: Pick Next Question\").first().json) : JSON.stringify(\"Session completed successfully. Final scores computed and session token burned.\") }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -3200,
        -944
      ],
      "id": "0d30c30c-006c-4c07-9af5-f0d646ca36da",
      "name": "Respond: Survey Complete"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a4bc5d74-08e0-4757-a82f-4c5686522a6f",
              "leftValue": "=={{ $(\"Code: Parse Tool Args\").first().json.question_id }}",
              "rightValue": "INIT",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3888,
        -640
      ],
      "id": "6ca0ac12-9bc1-400e-8649-8f5cd885e7ae",
      "name": "If: Initial Call?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"ok\"}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -4784,
        -176
      ],
      "id": "c791550b-c03d-40fe-9b75-efbed1edd5c9",
      "name": "Respond: Event Acknowledged"
    },
    {
      "parameters": {
        "jsCode": "// === CHATWOOT CONFIGURATION ===\nconst API_TOKEN = 'MJxWqHUBFJNvRaR1v6bBA8wE';\nconst ACCOUNT_ID = '153238';\nconst INBOX_ID = '97309';\nconst BASE_URL = `https://app.chatwoot.com/api/v1/accounts/${ACCOUNT_ID}`;\nconst reqHeaders = { 'Content-Type': 'application/json', 'api_access_token': API_TOKEN };\n\n// === GET DATA FROM PREVIOUS NODES ===\nconst session = $node[\"Postgres: Fetch Session\"].json;\nconst scores = $node[\"Postgres: Compute Final Scores\"].json;\nconst employeeId = session.employee_id;\nconst role = session.role;\nconst sessionId = session.session_id;\n\ntry {\n  // 1. SEARCH for existing contact by identifier (prevents 422 duplicate error)\n  let contactId;\n  try {\n    const searchResult = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${BASE_URL}/contacts/search`,\n      headers: reqHeaders,\n      qs: { q: String(employeeId), include_contacts: 'true' },\n    });\n    // Find contact with matching identifier\n    const existing = searchResult.payload?.find(c => c.identifier === String(employeeId));\n    if (existing) {\n      contactId = existing.id;\n    }\n  } catch (searchErr) {\n    // Search failed, will try to create below\n  }\n\n  // 2. CREATE contact only if not found\n  if (!contactId) {\n    const contact = await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${BASE_URL}/contacts`,\n      headers: reqHeaders,\n      body: { name: `Employee ${employeeId}`, identifier: String(employeeId) },\n    });\n    contactId = contact.payload?.contact?.id || contact.payload?.id;\n  }\n\n  // 3. Create Conversation\n  const convo = await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${BASE_URL}/conversations`,\n    headers: reqHeaders,\n    body: { contact_id: contactId, inbox_id: parseInt(INBOX_ID) },\n  });\n  const convoId = convo.id;\n\n  // 4. Send Combined Report\n  const reportMsg = `📋 Survey Report\\n👤 Employee: ${employeeId}\\n🏷️ Role: ${role}\\n🔑 Session: ${sessionId}\\n📅 Date: ${new Date().toLocaleDateString('en-IN')}\\n\\n📊 Scores\\n🧠 Mindset: ${scores.mindset_score}\\n🔧 Toolset: ${scores.toolset_score}\\n🎯 Skillset: ${scores.skillset_score}\\n📈 Total: ${scores.total_score}\\n\\n💡 Summary & Recommendation\\n📝 ${scores.summary}\\n🎓 ${scores.recommendation}`;\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${BASE_URL}/conversations/${convoId}/messages`,\n    headers: reqHeaders,\n    body: { content: reportMsg, message_type: 'outgoing' },\n  });\n\n  // 5. Apply Labels\n  const scoreTag = scores.total_score >= 24 ? 'high-performer' : scores.total_score >= 12 ? 'moderate' : 'needs-training';\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `${BASE_URL}/conversations/${convoId}/labels`,\n    headers: reqHeaders,\n    body: { labels: [role.toLowerCase(), scoreTag, 'ai-survey'] },\n  });\n\n  return [{ json: { chatwoot_status: 'pushed', conversation_id: convoId } }];\n\n} catch (error) {\n  return [{ json: { chatwoot_status: 'failed', error: error.message } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3712,
        -944
      ],
      "id": "f89788ea-f0dd-4786-b0f0-c3e19958919f",
      "name": "Chatwoot: Push Survey Report"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e44d8b9e-1234-5678-90ab-cdef12345678",
                    "leftValue": "={{ $(\"Webhook: Vapi Master\").first().json.body.message.toolCalls[0].function.name }}",
                    "rightValue": "complete_session",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COMPLETE_SESSION"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -4320,
        -816
      ],
      "id": "9f4bc5e0-0e5a-470f-bafb-021aa91038cc",
      "name": "Switch: Tool Action Branch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audio_assets (asset_type, storage_url, duration_seconds)\nSELECT 'RECORDING'::asset_type, $1, $2\nWHERE $1 IS NOT NULL AND $1 != '';",
        "options": {
          "queryReplacement": "=={{ $json.body.message.artifact?.recordingUrl || $json.body.message.recordingUrl || '' }}, {{ Math.round($json.body.message.durationSeconds || 0) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4896,
        -368
      ],
      "id": "c016650d-875c-4e07-8dca-8603980cd1e0",
      "name": "Postgres: Save Recording",
      "credentials": {
        "postgres": {
          "id": "RLWnNYbHUdODA2hb",
          "name": "n8n to cantabo pvs"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const toolCall = $input.first().json.body.message.toolCalls[0];\nconst rawArgs = toolCall['function']['arguments'];\nconst args = typeof rawArgs === 'string' ? JSON.parse(rawArgs) : rawArgs;\n\nreturn [{\n  json: {\n    session_id: args.session_id || '',\n    question_id: args.question_id || 'INIT',\n    answer: parseInt(args.answer) || 0,\n    toolCallId: toolCall.id || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4912,
        -672
      ],
      "id": "d6641d5a-dda0-4838-a293-6d8805247507",
      "name": "Code: Parse Tool Args"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook: Vapi Master": {
      "main": [
        [
          {
            "node": "Switch: Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Event Type": {
      "main": [
        [
          {
            "node": "Switch: Tool Call Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Event Acknowledged",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres: Save Recording",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Event Acknowledged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Tool Call Name": {
      "main": [
        [
          {
            "node": "Code: Parse Tool Args",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Parse Tool Args",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Fetch Session": {
      "main": [
        [
          {
            "node": "If: Valid Session?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Valid Session?": {
      "main": [
        [
          {
            "node": "Switch: Tool Action Branch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Session Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch — User Role Router": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Count Responses": {
      "main": [
        [
          {
            "node": "Code: Pick Next Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If: Initial Call?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Pick Next Question": {
      "main": [
        [
          {
            "node": "If: Survey Finished?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save Response": {
      "main": [
        [
          {
            "node": "Postgres: Count Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Survey Finished?": {
      "main": [
        [
          {
            "node": "Respond: Tool Call Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: Tool Call Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Compute Final Scores": {
      "main": [
        [
          {
            "node": "Chatwoot: Push Survey Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Burn Session Token": {
      "main": [
        [
          {
            "node": "Respond: Survey Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Initial Call?": {
      "main": [
        [
          {
            "node": "Postgres: Count Responses",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres: Save Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot: Push Survey Report": {
      "main": [
        [
          {
            "node": "Postgres: Burn Session Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Tool Action Branch": {
      "main": [
        [
          {
            "node": "Postgres: Compute Final Scores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch — User Role Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save Recording": {
      "main": [
        [
          {
            "node": "Respond: Event Acknowledged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Parse Tool Args": {
      "main": [
        [
          {
            "node": "Postgres: Fetch Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fc7daf99-74e4-4fe3-a4fd-6c4044e1c437",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0a606510a39546350ca950cb0bd9bb108927f2ed4772cdeaafdc6da681a3e8e1"
  },
  "id": "XceOSs3X6Lr9ZntC",
  "tags": []
}